Source: fsinf-server-config-apache
Section: misc
Priority: optional
Maintainer: Mathias Ertl <mati@fsinf.at>
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 12)
Homepage: https://github.com/fsinf/fsinf-server-config-apache
Vcs-Browser: https://github.com/fsinf/fsinf-server-config-apache
Vcs-Git: https://github.com/fsinf/fsinf-server-config-apache.git

Package: fsinf-server-config-apache
Architecture: all
Depends: apache2-bin, ${misc:Depends}, liblwp-useragent-determined-perl
Description: Common Apache configuration
 This package provides common Apache configuration used by all our servers.
